.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
}

.body {
  display: flex;
  gap: 3em;
  flex-direction: column;
  align-items: flex-end;
  width: 70vw;
}
